.sidebar {
  display: block;
  text-align: center;
  border: 0.5px solid #D2D2D2;
  width: 80px;
  height: unset;
  background-color: white;

  .menu-bar {
    padding: 25px 15px 10px 15px;

    i {
      color: #C5C5C5;
    }
  }

  .list-menu {
    .item-menu {
      align-items: center;
      text-align: center;
      padding: 15px 20px;
      background-color: #D2D2D2;
      .icon {
        width: 25px;
        height: 25px;
        background-color: white;
        padding: 5px;
      }
    }
  }
}