.product-list {
  width: fit-content;
  height: fit-content;
  background-color: white;
  margin-right: 25px;
  padding: 10px 15px;
  height: fit-content;
  box-shadow: 0px 2px 6px #0000000A;
  border: 0.5px solid #CACED5;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 20px;

  .title {
    display: flex;
    margin-bottom: 25px;

    p {
      color: #4D4F5C;
      font-family: Open Sans;
      font-size: 20px;  
      margin-bottom: 0px;
    }

    .dropdown {
      margin-left: auto !important;

      .drop-time {
        color: #4D4F5C;
        font-family: Open Sans;
        font-size: 12px;
        background-color: #FFFFFF;  
        box-shadow: 0px 2px 3px #0000000D;
        border: 1px solid #D7DAE2;
        border-radius: 2px;
      }
    }

    .more-icon {
      height: 25px;
      margin-left: 20px;
    }
  }
}