.product-list {
  width: 275px;
  height: fit-content;
  background-color: white;
  margin-right: 25px;
  padding: 10px 15px;
  height: fit-content;
  box-shadow: 0px 2px 6px #0000000A;
  border: 0.5px solid #CACED5;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 20px;

  @media only screen and (min-width: 992px) and (max-width: 1200px){
    width: 200px;
  }
  
  .title {
    display: flex;

    p {
      color: #4D4F5C;
      font-family: Open Sans;
      font-size: 20px;  
      margin-bottom: 0px;
    }

    .more-icon {
      height: 25px;
      margin-left: auto;
    }
  }

  .detail {
    display: flex;

    .price {
      padding: 10px 0px;

      h2 {
        font-family: Open Sans;
        font-size: 25px;  
        margin-bottom: 0px;
        font-weight: 600;
        color: #5B5B5B;
      }

      .product-sold {
        display: flex;
        align-items: center;

        .percentage {
          font-family: Open Sans;
          font-size: 10px;  
          margin-bottom: 0px;
          color: red;
          font-weight: bold;
        }

        .last-period {
          font-family: Open Sans;
          font-size: 10px;  
          margin-bottom: 0px;
          color: #5B5B5B;
          margin: 0px 3px;
        }

        img {
          width: 10px;
          height: 10px;
          margin: 0px 3px 0px 0px;
        }

      }
    }

    .sales-icon {
      width: 50px;
      height: 50px;
      margin: 0px 20px 0px auto;
    }
  }
}