.product-card {
  background-color: white;
  border-radius: 4px;
  width: 243px;
  height: 60px;
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  border: 0.5px solid #C5C5C59C;

  img {
    width: 60px;
    height: 60px;
    border-radius: 4px 0px 0px 4px;
  }

  .product-detail {
    margin: 10px 15px 15px 8px;
    width: inherit;
    
    .product-name {
      font-family: Open Sans;
      font-size: 16px;   
      color: #000000DE;   
      margin-bottom: 0px;
    }

    .product-info {
      display: flex;
      margin-top: 1px;
      margin-bottom: 1px;
      
      .product-info-price {
        color: #00000099;
        margin-bottom: 0px;
        font-family: Open Sans;
        font-size: 12px;         
      }

      .product-info-amount {
        color: #00000099;
        font-family: Open Sans;
        font-size: 12px;   
        margin-bottom: 0px;
        margin-left: auto;
      }
    }
  }

}