.sales-card {
  width: 275px;
  height: fit-content;
  background-color: white;
  margin: 20px 0px;
  padding: 10px 15px;
  border: 0.5px solid #CDCDCD;
  border-radius: 2px;
  
  .title {
    display: flex;

    p {
      color: #8B8B8B;
      font-family: Open Sans;
      font-size: 15px;  
      margin-bottom: 0px;
    }

    .more-icon {
      height: 25px;
      margin-left: auto;
    }
  }

  .detail {
    display: flex;

    .price {
      padding: 10px 0px;

      h2 {
        font-family: Open Sans;
        font-size: 25px;  
        margin-bottom: 0px;
        font-weight: 600;
        color: #5B5B5B;
      }

      .product-sold {
        display: flex;
        align-items: center;
        margin-top: 7px;

        .percentage {
          font-family: Open Sans;
          font-size: 10px;  
          margin-bottom: 0px;
          color: red;
          font-weight: bold;
        }

        .last-period {
          font-family: Open Sans;
          font-size: 10px;  
          margin-bottom: 0px;
          color: #5B5B5B;
          margin: 0px 3px;
        }

        img {
          width: 10px;
          height: 10px;
          margin: 0px 3px 0px 0px;
        }

      }
    }

    .sales-icon {
      width: 50px;
      height: 50px;
      margin: 0px 15px 0px auto;
    }
  }
}