.time-card {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  width: fit-content;

  @media only screen and (max-width: 880px){
    margin-left: unset;
  }
  

  .calender {
    width: 30px;
    height: 30px;
    margin: 0px 10px;
  }

  p {
    margin: 0px 10px;
    font-family: Open Sans;
    font-size: 18px;   
    color: #8B8B8B; 
  }

  .date {
    margin: 0px 10px;
    color: #6A6A6A;
    font-family: Open Sans;
    font-size: 18px;   
  }

  .arrow {
    margin: 0px 10px;
    color: #757575;
  }
}