.top-product-card {
  background-color: #FFE7BD;
  border-radius: 4px;
  width: 243px;
  height: 80px;
  display: flex;
  margin-top: 16px;
  margin-bottom: 8px;

  img {
    width: 80px;
    height: 80px;
  }

  .top-product-detail {
    margin: 10px 15px 15px 8px;
    width: inherit;
    
    .top-product-name {
      font-family: Open Sans;
      font-size: 20px;   
      color: #000000DE;   
      margin-bottom: 0px;
    }

    .top-product-info {
      display: flex;
      margin-top: 10px;
      margin-bottom: 15px;
      
      .top-product-info-price {
        color: #00000099;
        margin-bottom: 0px;
        font-family: Open Sans;
        font-size: 14px;         
      }

      .top-product-info-amount {
        color: #00000099;
        font-family: Open Sans;
        font-size: 14px;   
        margin-bottom: 0px;
        margin-left: auto;
      }
    }
  }

}